<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" th:href="@{/img/24735430.jpg}" sizes="32x32">
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<title>Simon</title>
</head>
<body>
	<div class="container">
		<a th:href="@{/th/list}" class="h1">用户列表</a>
		<a th:href="@{/draw/}" class="h1">画图</a>
	</div>
</body>
</html>